<footer class="post-info">
<ul>
    <li class="published" title="{{ article.date.isoformat() }}">
        <span>Date:</span>{{ article.date.strftime("%A %d %B %Y") }}
    </li>
    {% if article.modified %}
        {% if not article.modified == article.date %}
        <!--<br />-->
        <li class="modified" title="{{ article.modified.isoformat() }}">
            <span>Updated:</span>{{ article.modified.strftime("%A %d %B %Y") }}
        </li>
        {% endif %}
    {% endif %}
    {% include 'taglist.html' %}
    <li><span>Category:</span><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></li>
</ul>
</footer><!-- /.post-info -->
