{% if article %}
    <div class="sns">
        <h2><span class="glyphicon glyphicon-share"></span> Share</h2>
            {% include 'sns.html' %}
        </ul>
    </div>
{% endif %}

{% if DETAILS %}
    <div class="blogroll">
        <h2><span class="glyphicon glyphicon-pushpin"></span> About</h2>
        <ul>
        {% for item in DETAILS %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    </div><!-- /.blogroll -->
{% endif %}

{% if DISPLAY_CATEGORIES_ON_MENU %}
    <div class="category">
        <h2><span class="glyphicon glyphicon-th-list"></span> Category</h2>
        <ul>
		{% for cat, null in categories %}
			<li>
				<a href="{{ SITEURL }}/{{ cat.url }}">
                {% if CATEGORIES %}
				    {% for category, id, color in CATEGORIES %}
				    	{% if cat == category %}
				    	<span class="glyphicon glyphicon-{{ id }}" aria-hidden="true" style="color: {{ color }};"></span>
				    	{% endif %}
				    {% endfor %}
				    {{ cat }}
				{% endif %}
				</a>
			</li>
		{% endfor %}
        </ul>
    </div>
{% endif %}

{% if ALWAYS_MODIFIED %}
    <div class="recently">
        <h2><span class="glyphicon glyphicon-bullhorn"></span> Recently</h2>
        <ul>
            {% for article in articles|sort(reverse=True) %}
			<li>
                <p>{{ article.date.strftime("%Y年 %B%d日 %p %I:%M") }}<br />
			        {% for category, id, color in CATEGORIES %}
			        	{% if article.category == category %}
				        <span class="icon-category glyphicon glyphicon-{{ id }}" aria-hidden="true" style="color: {{ color }};"></span>
			        	{% endif %}
                    {% endfor %}
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        {{ article.title|striptags }}
                    </a>
                </p>
			</li>
		    {% endfor %}
        </ul>
    </div>
{% endif %}

{% if TAG_CLOUD_STEPS %}
    <div class="tags">
        <h2><span class="glyphicon glyphicon-paperclip"></span> Tags</h2>
        <ul>
        {% for tag, articles in tags|sort %}
            {% if article %}
                {% if articles[0].category == article.category %}
                <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
                {% endif %}
            {% elif category %}
                {% if articles[0].category == category %}
                <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
                {% endif %}
            {% else %}
                <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div><!-- /.social -->
{% endif %}

{% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
    <div class="social">
        <h2><span class="glyphicon glyphicon-sunglasses"></span> Social</h2>
        <ul>
            {% for name, link in SOCIAL %}
            <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
            {% endfor %}
            {% if FEED_ALL_ATOM %}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" target="_blank" type="application/atom+xml" rel="alternate">atom feed</a></li>
            {% endif %}
            {% if FEED_ALL_RSS %}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" target="_blank" type="application/rss+xml" rel="alternate">rss feed</a></li>
            {% endif %}
        </ul>
    </div><!-- /.social -->
{% endif %}

{% if DISPLAY_PAGES_ON_MENU and PAGES -%}
    <div>
        <h2><span class="glyphicon glyphicon-paperclip"></span> Pages</h2>
        <ul>
        {% for pg in PAGES %}
            <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
        {% endfor %}
        </ul>
    </div><!-- /.pages -->
{% endif %}
