@import "reset";
@import "pygment";

#banner {
	height: 300px;
	background-image: url("../img/header.svg");
	background-position: center bottom;
	background-repeat: no-repeat;
}

#contenthead {
	position: relative;
	height: 300px;
}

#look {
	position: absolute;
	top: 120px;
	left: 240px;
}
@media (min-width: 990px) and  (max-width: 1200px) {
	#look { left: 140px; }
}
@media (max-width: 990px) {
	#look { left: 30px; }
}



#contentinfo {
	height: 200px;
	background-image: url("../img/footer.svg");
	background-position: center top;
	background-repeat: no-repeat;
}


#content article .entry-title a {
	text-decoration: none;
}
#content article .post-info {
	padding: 5px 50px;
	margin: 0 10px 25px;
	background-color: #eee;
}
#content article .post-info ul li {
	padding: 1px 0;
}
#content article .post-info ul li span {
	display: inline-block;
	width: 100px;
}
#content article {
	position: relative;
}
#content article.hentry {
	padding-bottom: 50px;
}
#content article .entry-content .bottom-fade {
    background-image: linear-gradient(to top, rgba(220, 220, 220, 0.9), rgba(220, 220, 220, 0));
    bottom: 0px;
    display: block;
	width: 100%;
    height: 350px;
    position: absolute;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#content article .entry-content .bottom-fade a {
	display: block;
	width: 100%;
	height: 100%;
	color: #777;
}
#content article .entry-content .bottom-fade div {
    position: absolute;
	text-align: center;
	width: 100%;
	bottom: 15px; 
}
#content article .entry-content .bottom-fade:hover {
    background-image: linear-gradient(to top, rgba(182,220,251, 0.8), rgba(182,220,251, 0));
}
#content article .entry-content .bottom-fade a:hover {
	color: #2196f3;
}
#content .paginator {
	width: 100%;
	text-align: center;
	margin: 40px 0;
	font-size: 1.2em;
}
#content .paginator a {
	text-decoration: none;
}
#content .icon-category {
	animation: spin 0.5s 1 ease-in-out;
	-webkit-animation: spin 0.5s 1 ease-in-out;
}
@keyframes spin {
	0% { transform: rotate(0deg);}
	100% { transform: rotate(360deg);}
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}
#content #disqus-toggle {
	width: 100%;
	height: 60px;
	background-color: #ccc;
	border-radius: 10px;
	text-align: center;
	margin: 50px 0;
}
#content #disqus-toggle h3 {
	line-height: 60px;
}
#content #disqus-toggle:hover {
	background-color: #bbb;
	cursor: pointer;
}

#extras .bs-component{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-between;
	margin-bottom: 20px;
}
#extras .bs-component>div {
	width: 262.5px;
	padding: 10px 25px;
	background: radial-gradient(#ddd, #e6e6e6, #fafafa);
	border-radius: 33px;
}
#extras .bs-component .category li {
	font-size: 1.4em;
	padding: 5px 10px;
}
#extras .bs-component .sns ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-between;
	padding: 10px;
}
#extras .bs-component .recently li p {
	font-size: small;
}
#extras .bs-component .recently li a {
	font-size: large;
}

#extras .social {
	float: right;
	width: 175px;
}
#extras div[class='social'] a {
	background-repeat: no-repeat;
	background-position: 3px 6px;
	padding-left: 25px;
}
	/* Icons */
	.social a[href*='about.me'] {background-image: url('../img/icons/aboutme.png');}
	.social a[href*='bitbucket.org'] {background-image: url('../img/icons/bitbucket.png');}
	.social a[href*='delicious.com'] {background-image: url('../img/icons/delicious.png');}
	.social a[href*='digg.com'] {background-image: url('../img/icons/digg.png');}
	.social a[href*='facebook.com'] {background-image: url('../img/icons/facebook.png');}
	.social a[href*='gitorious.org'] {background-image: url('../img/icons/gitorious.png');}
	.social a[href*='github.com'],
	.social a[href*='git.io'] {
		background-image: url('../img/icons/github.png');
		background-size: 16px 16px;
	}
	.social a[href*='gittip.com'] {background-image: url('../img/icons/gittip.png');}
	.social a[href*='plus.google.com'] {background-image: url('../img/icons/google-plus.png');}
	.social a[href*='groups.google.com'] {background-image: url('../img/icons/google-groups.png');}
	.social a[href*='news.ycombinator.com'],
	.social a[href*='hackernewsers.com'] {background-image: url('../img/icons/hackernews.png');}
	.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../img/icons/lastfm.png');}
	.social a[href*='linkedin.com'] {background-image: url('../img/icons/linkedin.png');}
	.social a[href*='reddit.com'] {background-image: url('../img/icons/reddit.png');}
	.social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../img/icons/rss.png');}
	.social a[href*='slideshare.net'] {background-image: url('../img/icons/slideshare.png');}
	.social a[href*='speakerdeck.com'] {background-image: url('../img/icons/speakerdeck.png');}
	.social a[href*='stackoverflow.com'] {background-image: url('../img/icons/stackoverflow.png');}
	.social a[href*='twitter.com'] {background-image: url('../img/icons/twitter.png');}
	.social a[href*='vimeo.com'] {background-image: url('../img/icons/vimeo.png');}
	.social a[href*='youtube.com'] {background-image: url('../img/icons/youtube.png');}

#contentinfo #bloginfo {
	font-weight: bold;
	font-size: 1.3em;
	color: #555;
	margin: 0;
	text-decoration: underline;
}
#contentinfo #bloginfo .bloginfo-icon {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
#contentinfo #bloginfo .bloginfo-icon:hover {
	-webkit-animation-name: hvr-pop;
	animation-name: hvr-pop;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

.entry-content {
  h1 {
    margin: 40px 0 20px;
    padding: 0 0 5px;
	border-bottom: 10px solid #ddd;
  }
  h1:before,
  h2:before,
  h3:before,
  h4:before,
  h5:before {
    content: "✘ ";
  }
  h2, h3, h4, h5 {
    margin: 10px 0 5px;
    padding: 0 0 5px;
  }
}

hr {
	text-align: center;
}
hr:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #fafafa;
	color: #aaa;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

/* admonition derective */
.admonition-title {
    color: #555;
    font-size: 120%;
    font-weight: bold;
}
.attention {
    border: 1px solid #D43F3A;
    background-color: #D9534F;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}
.caution {
    border: 1px solid #EEA236;
    background-color: #F0AD4E;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}
.error {
    border: 1px solid #D43F3A;
    background-color: #D9534F;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}
.hint {
    border: 1px solid #357EBD;
    background-color: #428BCA;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}
.important {
    border: 1px solid #4CAE4C;
    background-color: #5CB85C;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}
.note {
    border: 1px solid #FFF7CC;
    background-color: #FFF7CC;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    color: #777;
}
.warning {
    border: 1px solid #EEA236;
    background-color: #F0AD4E;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}
